* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    margin-left: 50px;
    margin-top: 10px;
    padding-bottom: 100px;
}

main{
    width: 80%;
    margin: 0 auto;
}

.mr5{
    margin-right: 5px;
}

.ml10{
    margin-left: 10px;
}

.color-blu{
    background-color: rgb(0, 183, 255);
    padding: 3px;
}

.br-10{
    border-radius: 5px;
}

.color-gray{
    border: 1px solid gray
}
  .mb40{
    margin-bottom: 40px;
}

  .pd3{
    padding: 3px;
}

.accordion {
    background-color: #ffffff;
     color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}


.circle-green { 
    border: 1px solid rgb(52, 175, 144); 
    border-radius: 50%;
    padding: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
     padding-left: 8px;
     padding-right: 8px;
}

.circle-red { 
    border: 1px solid rgb(241, 0, 0); 
    border-radius: 50%;
    padding: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

.color-tex-red{
     color: rgb(255, 4, 4);
}
     
.color-tex{
    color: rgb(52, 175 , 144);
}

.color-tex-white{
    color: #ffffff;
}

.dimension-tex{
    font-size:x-small;
}
    
.color-purple{
    background-color: rgb(247, 12, 196);
     padding: 3px;
}

.color-orange{
     background-color: rgb(255, 128, 69);
     padding: 3px;
}    
  
.color-green{
    background-color: rgb(104, 190, 64);
    padding: 3px;
}